body {
  background-color: #FAFAFA;
}

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 720px;
  position: relative;
}

.login form {
  background-color: white;
  border: 1px solid thistle;
  border-radius: 0.6rem;
  box-shadow: 0.6rem 0.3rem 0.3rem thistle;
  display: flex;
  flex-direction: column;
  padding: 89px;
  width: 519px;
}

.login input {
  border-color: thistle;
  height: 1.7rem;
  margin-bottom: 2rem;
}

form button {
  background-color: #003BE5;
  border: none;
  border-radius: 0.1rem;
  color: white;
  cursor: pointer;
  height: 1.7rem;
}

.login form button:disabled {
  opacity: 0.6;
}

.login .loading {
  color: #036B52;
  font-size: 2.5rem;
  inset: 0;
  padding: 1rem;
  position: absolute;
}
